### Performing Similarity Search on CEO plots involves picking a target plot and pointing the vector_search fn to the BQ table that contains the CEO plot's embeddings

In [1]:
from utils import *

project = "collect-earth-online"
dataset='sim_search_test'

In [2]:
table = "ceo-Okayama-Tile-5-v2-plot-data-2025-07-22_2022_2022_437_pp" # BQ vector search table
result_df = vector_search('54', # target plotid
                          10, # return top 10 matches
                          project,
                          dataset,
                          table)

In [3]:
result_df

  target_plotid base_plotid  distance
0            54          60  0.066659
1            54          42  0.069910
2            54          14  0.076291
3            54          41  0.082364
4            54          63  0.085710
5            54          64  0.088477
6            54          89  0.090367
7            54          51  0.093526
8            54          27  0.095709
9            54          48  0.096933

Currently `vector_search` returns the result as a pandas.DataFrame, but we can change it to returning a JSON string or something more easily passable in a REST API setting

After receiving the sim search result, we'd want to do a join on the actual CEO postgres table to add back in all of each plot's CEO fields and display location and attribute info visually